#special-offer{
    .special-offer-slider{
        margin-top: 50px;
        @media (max-width:575px) {
            margin-top: 0px;
        }
        .card-item{
            border: 1px solid $light-ash;
            border-radius: 10px;
            padding: 0 30px 30px 30px;
            overflow: hidden;
            transition: .4s;
            @media (max-width:767px) {
                padding: 0 10px 10px 10px;
            }
            &:hover{
                box-shadow: 0 0 45px rgba(0, 0, 0, 0.05);
            }
            .top{
                position: relative;
                .favourite{
                    position: absolute;
                    top: 20px;
                    right: -5px;
                    color: #BDE5D8;
                    cursor: pointer;
                    @media (max-width:575px) {
                        top: 5px;
                        right: 0;
                    }
                }
                .label{
                    padding: 10px 60px;
                    background: $green;
                    position: absolute;
                    top: 17px;
                    left: -80px;
                    transform: rotate(-45deg);
                    @media (max-width:767px) {
                        padding: 5px 60px;
                        top: 15px;
                        left: -67px;
                        p{
                            font-size: 14px !important;
                        }
                    }
                    p{
                        font-size: 18px;
                        font-weight: $medium;
                        color: $text-color;
                        text-align: center;
                    }
                }
            }
            .details{
                @media (max-width:416px){
                    text-align: left !important;
                }
                .item-name{
                    font-size: 24px;
                    line-height: 30px;
                    font-weight: $medium;
                    display: inline-block;
                    margin-bottom: 20px;
                    transition: .3s;
                    max-height: 60px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: initial !important;
                    @media (max-width:575px){
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 10px;
                    }
                    @media (max-width:416px){
                        width: 114px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    
                    &:hover{
                        color: $green;
                    }
                }
                .bottom{
                    p{
                        font-size: 18px;
                        font-weight: $medium;
                        .amount{
                            color: $green;
                            sup{
                                font-size: 60%;
                                right: 5px;
                            }
                        }
                        @media (max-width:575px){
                            font-size: 12px;
                        }
                        .previous-amount{
                            font-size: 12px;
                            text-decoration: line-through;
                        }
                    }
                    .add-cart{
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background: $text-color;
                        transition: .4s;
                        &:hover{
                            background: $green;
                        }
                        @media (max-width:360px) {
                            width: 20px;
                            height: 20px;
                            img{
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                }
            }
        }
        .swiper-wrapper{
            margin-bottom: 65px;
            @media (max-width: 575px) {
                margin-top: 30px;
                margin-bottom: 35px;
            }
        }
        .swiper-pagination{
            margin-bottom: 0;
            .swiper-pagination-bullet{
                background: $green;
                opacity: 1 !important;
                margin: 0 5px;
                width: 5px !important;
                height: 5px !important;
            }
            .swiper-pagination-bullet-active{
                position: relative;
                transition: .4s;
                &::after{
                    position: absolute;
                    content: "";
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: 1px solid $green;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: .4s;

                }
                
            }
        }
    }
}