#testimonial-part{
    .main{
        background: #F6F6F6;
        padding: 55px 10px;
        border-radius: 10px;
        @media (max-width:575px) {
            padding: 20px 10px;
        }
        .testimonial-slider{
            .swiper-wrapper{
                margin-bottom: 30px;
            }
            .item{
                .top{
                    margin: 0 auto;
                   .ratings{
                    display: flex;
                    bottom: 24px; 
                    left: 50%;
                    transform: translateX(-50%);
                    color: $green;
                    i{
                        margin: 0 3px;
                    }
                   }
                }
                .para-text{
                    p{
                        font-style: italic;
                        max-width: 560px;
                        margin: 10px auto;
                        text-align: center;
                    }
                }
                .user-info{
                    margin: 20px auto;
                    align-items: center;
                    .info{
                        padding-left: 15px;
                        h3{
                            font-size: 24px;
                            font-weight: $medium;
                            @media (max-width:575px) {
                                font-size: 18px;
                            }
                        }
                        p{
                            color: $ash;
                            font-weight: $medium;
                            margin-top: 6px;
                            @media (max-width:575px) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .swiper-pagination{
                bottom: 0px !important;
                .swiper-pagination-bullet{
                    background: $green;
                    opacity: 1 !important;
                    margin: 0 5px;
                    width: 5px !important;
                    height: 5px !important;
                }
                .swiper-pagination-bullet-active{
                    position: relative;
                    transition: .4s;
                    &::after{
                        position: absolute;
                        content: "";
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        border: 1px solid $green;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: .4s;
    
                    }
                    
                }
            }
        }
    }
}