// Colors
$green: #FCBA00;
$light-green: #E4F7E8;
$text-color: #333333;
$light-ash: #EFEFEF;
$ash: #797979;
$white: #ffffff;
$black: #000000;
$blue: #1B62CE;
// Fonts
$body_font: 'Jost', sans-serif;

// Font Weight 
$thin: 100; 
$extra-light: 200; 
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-bold: 900;

// Font Size
$base-font-size: 16px;

