/* ************************
   03.1: Header
   ********************* */
   header{
    border-top: 2px solid $light-ash;
    .logo,.search,.account,.cart{
       padding: 15px 20px;
       @media (max-width:1400px) {
          padding: 15px;
       }
       @media (max-width:1200px) {
          padding: 10px;
       }
       @media (max-width:575px) {
          padding: 7px;
       }
    }
    .left{
       .logo{
         max-width: 233px;
         padding-right: 40px;
         @media (max-width:991px) {
            padding-right: 30px;
         }
         @media (max-width:767px) {
            max-width: 150px;
            padding-right: 10px;
         }
         img{
            margin-top: -10px;
         }
       }
       
 
    }
    .middle{
        flex-grow: 1;
        .search{
         width: 100%;
         display: flex;
         justify-content: space-between;
         .search-group{
            width: 100%;
            display: flex;
            justify-content: space-between;
         }
         
         
         .search-input{
            border: none;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            
         }
         .searchButton{
            color: $ash;
            @media (max-width:575px) {
               font-size: 14px;
            }
         }
      }
    }
    .right{
       .delivery-icon, .account-icon, .cart-icon{
          border: 1px solid #2253FF;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          margin-right: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          @media (max-width:991px) {
             width: 25px;
             height: 25px;
             margin-right: 0px; 
          }
          
       }
       .content{
          display: flex;
          align-items: center;
       }
       .info{
          p{
             font-size: 14px;
             color: rgba(0, 0, 0, 0.38);
          }
          h3{
             font-size: 16px;
             font-weight: $medium;
             color: $text-color   ;
          }
          @media (max-width:1200px) {
             p{
                font-size: 10px;
             }
             h3{
                font-size: 12px;
             }
          }
          @media (max-width:991px){
             display: none;
          }
       }
       .account-icon{
          border-color: $blue;
       }
       .cart-icon{
          border-color: #F9E000;
       }
 
       
    }
    // Sticky Style
    .navScrolled {
       position: fixed;
       background: white;
       width: 100%;
       top: 0;
       z-index: 999;
       transition: .3s;
       box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
 }
 
 .top-add{
    @media (max-width:991px) {
       .sm-none{
          display: none;
       }
       
    }
 }